
$first: #086788;
$second: #07A0C3;
$third: #00FDDC;
$fourth: #7870c2;
$fifth: #EFE9F4;
$orange: rgb(254, 183, 51);
 
$black: #000000;
$white: #FFFFFF;
$grey: rgb(224, 224, 224);
$red: rgb(246, 141, 141);